body {
  background-color: #fff;
  color: #333;
  margin: 5vh 20vw;
  font-family: 'Comic Sans MS', sans-serif;
  line-height: 0.5;
  font-size: 120%;
}

a {
  color: #22a;
}

li {
  padding: 10px 0;
}
