@keyframes color {
  0%: {color: red};
  16%: {color: orange};
  33%: {color: yellow};
  50%: {color: green};
  66%: {color: blue};
  84%: {color: purple};
  100%: {color: red};
}

body {
  background-color: #fff;
  animation: color 5s infinite;
  margin: 5vh 20vw;
  font-family: 'Comic Sans MS', sans-serif;
  line-height: 0.5;
  font-size: 120%;
}

a {
  color: #22a;
}

li {
  padding: 10px 0;
}
